@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}


.generator {
    background: linear-gradient(to right bottom, #21c9ff, #7839da);
    padding: 32px;
    border-radius: 8px;
    text-align: center;
}

.generator__title {

}

.generator__content {
    margin-top: 16px;
}

.generator__input{
    width: 100%;
    padding: 16px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgba(0,0,0, 0.3);
    color: #fff;
    border-radius: 4px;
}
.generator__button {
    margin-top: 16px;
    padding: 16px;
    background-color: rgba(255,255,255, 0.7);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.generator__button:hover {
    background-color: rgba(255, 255, 255, 0.664);
    
}